/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/bin/
*.exe
*.bat
*.class
*.log

# sbt specific
.cache
.history
.lib/
/dist/*
/lib_managed/
/src_managed/
/project/boot/
/project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache-main
*.classpath
*.project
.settings/org.scala-ide.sdt.core.prefs
*.sbtserver
project/.sbtserver.lock
project/eclipse.sbt
project/sbt-ui.sbt
.settings/org.eclipse.core.resources.prefs
libexec/activator-launch-1.3.12.jar